{% extends 'base.html' %}

{% load sass_tags %}
{% load static %}

{% block title %} Admin Panel {% endblock %}

{% block content %}
<style>
    .admin__title {
        text-align: center;
        font-size: 40px;
        font-weight: 600;
    }
    
    .footer {
        width: 100%;
        margin-top: auto;
    }
    .container{
        height: 100%;
    }
</style>
<div class="container">
    <div class="admin__title">Admin Panel</div>
    <div class="btns mt-4">
        <div class="d-flex gap-3">
            <a href="{% url 'create-theme' %}" class="btn btn-primary w-100">Створити тему</a>
            <a href="{% url 'create-agency' %}" class="btn btn-primary w-100">Добавити топ-агенство</a>
        </div>
        <div class="d-flex gap-3 mt-3">
            <a href="{% url 'create-message-advert' %}" class="btn btn-primary w-100">Створити рекламу текстом (головна)</a>
            <a href="{% url 'create-banner' %}" class="btn btn-primary w-100">Створити рекламу банер (головна)</a>
        </div>
        <a href="{% url 'user-search' %}" id="ban_user" class="btn btn-primary w-100 mt-3">Заблокувати користувача</a>
    </div>
</div>


{% endblock %}