{% load static %}
{% load sass_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Roboto:wght@300;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% sass_src 'forum_pages/css/base.min.css' %}">
    <link rel="stylesheet" href="{% block style %}{% endblock %}">
</head>
<body>
    <header class="header__inner">
        <a href="#" class="header__logo">
            <img src="{% static 'forum_pages/img/forum_logo.png' %}" alt="#" class="header__img">
        </a>
        <nav class="header__menu">
            <ul class="header__menu">
                <li class="header__link"><a href="#" class="header__link">Головна</a></li>
                <li class="header__link"><a href="" class="header__link">Форум</a></li>
                <li class="header__link"><a href="#" class="header__link">Що нового</a></li>
                <li class="header__link"><a href="#" class="header__link">Статті</a></li>
                <li class="header__link"><a href="#" class="header__link">Користувачі</a></li>
                <li class="header__link"><a href="#" class="header__link">Vip status</a></li>
            </ul>
        </nav>
        <nav class="header__reg">
            <a href="#" class="header__block">
                <span class="header__logIN">Вхід</span>
            </a>
            <a href="#" class="header__block">
                <span href="#" class="header__signIn">Регістрація</span>
            </a>
        </nav>
    </header>

    <div class="divider"></div>

    <div class="container">
        {% block content %} {% endblock %}
    </div>


    <footer class="footer__inner">
        <nav class="footer__menu">
            <li class="footer__links"><a href="" class="footer__link">Зворотній зв'язок</a></li>
            <li class="footer__links"><a href="#" class="footer__link">Умови та правила</a></li>
            <li class="footer__links"><a href="#" class="footer__link">Политика конфіденційності</a></li>
            <li class="footer__links"><a href="#" class="footer__link">Допомога</a></li>
            <li class="footer__links"><a href="#" class="footer__link">Головна</a></li>
            <a href="#">
                <img src="{% static 'forum_pages/img/forum_logo.png' %}" alt="#" class="footer__logo">
            </a>
        </nav>
    </footer>
</body>
</html>