{% load static %}
{% load sass_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Roboto:wght@300;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% sass_src 'forum_pages/css/base.min.css' %}">
    <link rel="stylesheet" href="{% block style %}{% endblock %}">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header__logo">
                <img src="{% static 'forum_pages/img/forum_logo.png'%}" alt="">
            </div>
            <nav class="header__links">
                <a href="#">Теми</a>
                <a href="#">Реклама</a>
                <a href="#">Правила</a>
            </nav>
            <div class="header__auth">
                <a href="#">Ввійти</a>
                <a href="#">Зареєструватись</a>
            </div>
        </div>
    </header>
    {% block content %} {% endblock %}

    <footer class="footer">
        <div class="container">
            <div class="footer__logo">
                <a href="#">
                    <img src="{% static 'forum_pages/img/forum_logo.png'%}" alt="">
                </a>
            </div>
            <div class="footer__links">
                <a href="#">Теми</a>
                <a href="#">Реклама</a>
                <a href="#">Правила</a>
            </div>
            <div class="footer__contactus">
                <a href="#">Інстаграм</a>
                <a href="#">Телеграм</a>
                <a href="#">Фейсбук</a>
            </div>
        </footer>
        </div>
        
</body>
</html>