{% extends 'base.html' %}

{% load static %}
{% load sass_tags %}

{% block title %}Create agency{% endblock %}

{% block content %}
<div class="container">
    {% if messages %}
        {% for i in messages %}
            <div class="alert alert-warning alert-dismissible fade show mt-4" role="alert">
                {{ i }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="text-center fw-bold fs-1">Створити оголошення</div>
        <div class="title__container">
            <label class="fs-4 fw-bold">Нікнейм користувача</label>
            <input type="text" class="form form-control" name="username" required />

            <label class="fs-4 fw-bold">Заголовок до агенства</label>
            <input type="text" class="form form-control" name="title" required />
            
            <label class="fs-4 fw-bold">Назва агенства</label>
            <input type="text" class="form form-control" name="name" required />

            <label class="fs-4 fw-bold">фото агенства</label>
            <input type="file" class="form form-control" name="banner" required />
        </div>
        <input type="submit" class="btn btn-primary mt-3 mb-3" value="Добавити топ-агенство">
    </form>
</div>
{% endblock %}