{% extends 'forum_pages/base.html' %}
{% load sass_tags %}
{% load static %}
{% block style %}{% sass_src 'forum_pages/css/index.min.css' %}{% endblock %}

{% block title %} Головна сторінка {% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="container">
                <div class="content">
                    <div class="main__panel">
                        <div class="first__advertisment">
                            <div class="first__advertisment-title"><a href="#">{{ chosen_product.title }}</a></div>
                            <div class="first__advertisment-text">{{ chosen_product.text }}</div>
                        </div>
                        <div class="divider"></div>
                        <div class="first__banner">
                            <a href="#">
                                <img src="{{ main_banner.image.url }}" alt="Banner">
                            </a>
                        </div>
                        <div class="divider"></div>
                        <div class="content__inner">
                            <div class="advertisments">
                                {% for i in advertisements %}
                                    <ul class="advert">
                                        <li class="advert__kind">{{ i.title }}</li>
                                        <li class="advert__text"><a href="#">{{ i.text }}</a></li>
                                        <li class="advert__time">{{ i.time }}</li>
                                        <li class="advert__name"><a href="">{{ i.name }}</a></li>
                                    </ul>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="side__panel">
                        <div class="side__panel-title">Останнє повідомлення</div>
                        <div class="side__panel-body">
                            <div class="side__panel-message">
                                <div class="side__panel-userinfo">
                                    <a href="#"><img src="{% static 'forum_pages/img/forum_logo.png'%}" class="side__panel-photo" alt=""></a>
                                    <div class="side__panel-userData">
                                        <div class="side__panel-author">Vitlik</div>
                                        <div class="side__panel-time">Опубліковано: 14:03</div>
                                        <div class="side__panel-text">
                                            ncvbncvbndygfnnbviufnihjfsdgjdfgjnxcjvbnrnbhxcvkjbnrthb
                                            ncvbncvbndygfnnbviufnihjfsdgjdfgjnxcjvbnrnbhxcvkjbnrthb
                                            ncvbncvbndygfnnbviufnihjfsdgjdfgjnxcjvbnrnbhxcvkjbnrthb
                                            ncvbncvbndygfnnbviufnihjfsdgjdfgjnxcjvbnrnbhxcvkjbnrthb
                                            ncvbncvbndygfnnbviufnihjfsdgjdfgjnxcjvbnrnbhxcvkjbnrthb
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="divider"></div>
                        </div>
                        <div class="side__panel-body">
                            <div class="side__panel-message">
                                <div class="side__panel-userinfo">
                                    <a href="#"><img src="{% static 'forum_pages/img/forum_logo.png'%}" class="side__panel-photo" alt=""></a>
                                    <div class="side__panel-userData">
                                        <div class="side__panel-author">Vitlik</div>
                                        <div class="side__panel-time">Опубліковано: 14:03</div>
                                        <div class="side__panel-text">
                                            ncvbncvbndygfnnbviufnihjfsdgjdfgjnxcjvbnrnbhxcvkjbnrthb
                                            ncvbncvbndygfnnbviufnihjfsdgjdfgjnxcjvbnrnbhxcvkjbnrthb
                                            ncvbncvbndygfnnbviufnihjfsdgjdfgjnxcjvbnrnbhxcvkjbnrthb
                                            ncvbncvbndygfnnbviufnihjfsdgjdfgjnxcjvbnrnbhxcvkjbnrthb
                                            ncvbncvbndygfnnbviufnihjfsdgjdfgjnxcjvbnrnbhxcvkjbnrthb
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="divider"></div>
                        </div>
                        <div class="side__panel-body">
                            <div class="side__panel-message">
                                <div class="side__panel-userinfo">
                                    <a href="#"><img src="{% static 'forum_pages/img/forum_logo.png'%}" class="side__panel-photo" alt=""></a>
                                    <div class="side__panel-userData">
                                        <div class="side__panel-author">Vitlik</div>
                                        <div class="side__panel-time">Опубліковано: 14:03</div>
                                        <div class="side__panel-text">
                                            ncvbncvbndygfnnbviufnihjfsdgjdfgjnxcjvbnrnbhxcvkjbnrthb
                                            ncvbncvbndygfnnbviufnihjfsdgjdfgjnxcjvbnrnbhxcvkjbnrthb
                                            ncvbncvbndygfnnbviufnihjfsdgjdfgjnxcjvbnrnbhxcvkjbnrthb
                                            ncvbncvbndygfnnbviufnihjfsdgjdfgjnxcjvbnrnbhxcvkjbnrthb
                                            ncvbncvbndygfnnbviufnihjfsdgjdfgjnxcjvbnrnbhxcvkjbnrthb
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="divider"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}