{% extends 'base.html' %}

{% load sass_tags %}
{% load static %}
{% block style %}{% sass_src 'forum_pages/css/index.min.css' %}{% endblock %}

{% block title %} Головна сторінка {% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="container">
                {% if messages %}
                    {% for i in messages %}
                        <div class="alert alert-warning alert-dismissible fade show mt-4" role="alert">
                            {{ i }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="content">
                    <div class="main__panel">
                        <section class="first__advertisment">
                            <div class="first__advertisment-title"><a href="#">{{ chosen_product.title }}</a></div>
                            <div class="first__advertisment-text">{{ chosen_product.text }}</div>
                        </section>
                        <div class="divider"></div>
                        <section class="first__banner"> 
                            <a href="#">
                                <img src="{{ main_banner.image.url }}" alt="Banner">
                            </a>
                        </section>
                        <div class="divider"></div>
                        <a href="{% url 'create-theme' %}"><button class="btn btn-primary w-50 mb-3">Створити тему</button></a>
                        <a href="{% url 'create-advertisment' %}"><button class="btn btn-primary w-50 mb-3">Створити оголошення</button></a>
                        <div class="advertisments__title">Оголошення</div>
                        <section class="advertisments">
                            {% for i in advertisements %}
                                <ul class="advert">
                                    <div class="advert__first">
                                        <li class="advert__kind">{{ i.title }}</li>
                                        <li class="advert__text"><a href="#">{{ i.text }}</a></li>
                                    </div>
                                    <div class="advert__second">
                                        <li class="advert__time">{{ i.time|timesince }} тому</li>
                                        <li class="advert__name"><a href="{% url 'user-profile' i.name %}">@{{ i.name }}</a></li>
                                    </div>
                                </ul>
                            {% endfor %}
                        </section>
                        <div class="divider"></div>

                        <section class="adult__trafic main__panel-section">
                            <div class="adult__trafic-title main-title-text">Все про Adult трафік</div>
                            <div class="adult__trafic-themes">
                                <div class="adult__trafic-theme main__panel-theme"><a href="#">Пошук трафіку</a></div>
                                <div class="adult__trafic-theme main__panel-theme"><a href="#">Продаж трафіку</a></div>
                                <div class="adult__trafic-theme main__panel-theme"><a href="#">Пропозиції по співпраці</a></div>
                            </div>
                        </section>
                        <div class="divider"></div>

                        <section class="adult__trafic main__panel-section">
                            <div class="adult__trafic-title main-title-text">Пісочниця</div>
                            <div class="adult__trafic-themes">
                                <div class="adult__trafic-theme main__panel-theme"><a href="{% url 'sandbox' %}">Пісочниця - про все та ні про що</a></div>
                            </div>
                        </section>
                        <div class="divider"></div>

                        <section class="adult__trafic main__panel-section">
                            <div class="adult__trafic-title main-title-text">Корисна інформація</div>
                            <div class="adult__trafic-themes">
                                <div class="adult__trafic-theme main__panel-theme"><a href="#">Корисна інформація</a></div>
                            </div>
                        </section>
                        <div class="divider"></div>

                        <section class="adult__trafic main__panel-section">
                            <div class="adult__trafic-title main-title-text">Організація роботи агенства</div>
                            <div class="adult__trafic-themes">
                                <div class="adult__trafic-theme main__panel-theme"><a href="#">Dream Singles</a></div>
                                <div class="adult__trafic-theme main__panel-theme"><a href="#">Prime Date</a></div>
                                <div class="adult__trafic-theme main__panel-theme"><a href="#">Anastasia</a></div>
                                <div class="adult__trafic-theme main__panel-theme"><a href="#">Natashaclub</a></div>
                                <div class="adult__trafic-theme main__panel-theme"><a href="#">Charm Date</a></div>
                                <div class="adult__trafic-theme main__panel-theme"><a href="#">Love me</a></div>
                                <div class="adult__trafic-theme main__panel-theme"><a href="#">Jump4love</a></div>
                                <div class="adult__trafic-theme main__panel-theme"><a href="#">Файндбрайд</a></div>
                                <div class="adult__trafic-theme main__panel-theme"><a href="#">Лададейт</a></div>
                                <div class="adult__trafic-theme main__panel-theme"><a href="#">Голден</a></div>
                                <div class="adult__trafic-theme main__panel-theme"><a href="#">Арабиан</a></div>
                                <div class="adult__trafic-theme main__panel-theme"><a href="#">Юдейт</a></div>
                            </div>
                        </section>
                        <div class="divider"></div>

                        <section class="adult__trafic main__panel-section">
                            <div class="adult__trafic-title main-title-text">Бот-програми, розсилки</div>
                            <div class="adult__trafic-themes">
                                <div class="adult__trafic-theme main__panel-theme"><a href="#">Бот-програми, розсилки. Готові і під замовлення</a></div>
                            </div>
                        </section>
                        <div class="divider"></div>

                        <section class="adult__trafic main__panel-section">
                            <div class="adult__trafic-title main-title-text">Чорний список</div>
                            <div class="adult__trafic-themes">
                                <div class="adult__trafic-theme main__panel-theme"><a href="#">Чорний список скаутів</a></div>
                                <div class="adult__trafic-theme main__panel-theme"><a href="#">Чорний список брачних агенств</a></div>
                                <div class="adult__trafic-theme main__panel-theme"><a href="#">Чорний список перекладачів</a></div>
                            </div>
                        </section>
                        <div class="divider"></div>

                        <section class="adult__trafic main__panel-section">
                            <div class="adult__trafic-title main-title-text">Перекладачі і скаути</div>
                            <div class="adult__trafic-themes">
                                <div class="adult__trafic-theme main__panel-theme"><a href="#">Скаути, пропоную роботу для скаутів</a></div>
                                <div class="adult__trafic-theme main__panel-theme"><a href="#">Скаути, пропоную роботу для скаутів</a></div>
                                <div class="adult__trafic-theme main__panel-theme"><a href="#">Скаути, пропоную роботу для скаутів</a></div>
                            </div>
                        </section>
                        <div class="divider"></div>

                        <section class="adult__trafic main__panel-section">
                            <div class="adult__trafic-title main-title-text">Запрос на добавлення розділу та категорії</div>
                            <div class="adult__trafic-themes">
                                <div class="adult__trafic-theme main__panel-theme"><a href="#">Запросити</a></div>
                            </div>
                        </section>
                        <div class="divider"></div>
                    </div>
                    <div class="side__panel">
                        <div class="side__panel-title main-title-text"><a href="{% url 'sandbox' %}">Останні повідомлення</a></div>
                        <div class="side__panel-body">
                            <div class="side__panel-message">
                                {% for i in last_messages %}
                                    <div class="side__panel-userinfo">
                                        <a href="#"><img src="{{i.user.avatar.url}}" class="side__panel-photo" alt=""></a>
                                        <div class="side__panel-userData">
                                            <div class="side__panel-author"><a href="{% url 'user-profile' i.user.username %}">@{{ i.user.username }}</a></div>
                                            <div class="side__panel-time">{{ i.created|timesince }} тому</div>
                                            <div class="side__panel-text">{{ i.main_text }}</div>
                                        </div>
                                    </div>
                                    <div class="divider"></div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script src="{% static 'forum_pages/js/script.js'%}"></script>
{% endblock %}