{% extends 'base.html' %}

{% load static %}
{% load sass_tags %}
{% block style %}{% sass_src 'forum_pages/css/index.min.css' %}{% endblock %}

{% block title %}Правила{% endblock %}

{% block content %}
    <div class="container">
        <div class="policy__content">
            1.1. Пользователи должны проявлять взаимное уважение друг к другу. <br>
            1.2. Запрещаются проявления религиозной, расовой, половой и прочей нетерпимости или дискриминации.<br>
            1.3. Запрещается сбор пользователей сервиса с целью спам-рассылки.<br>
            1.4. Запрещается использование ругательных слов на любом языке, оскорбительных выпадов и прочих высказываний, оскорбляющих достоинство пользователей сервиса, в любой части сообщения - заголовке, тексте, подписи и пр.<br>
            1.5. Запрещается публикация сообщений, дискредитирующих любое лицо (юридическое или физическое).<br>
            1.6. Запрещается публикация сообщений, наносящих моральный или любой другой урон любому лицу (юридическому или физическому).<br>
            1.7. Запрещается обсуждение тем, противоречащих законодательству Украины, в частности, обсуждение взлома программ и серверов, похищения интеллектуальной собственности и пр.<br>
            1.8. Запрещается осуществление рекламы незаконных средств.<br>
            1.9. Запрещается обсуждение действий владельцев сервиса, модераторов и администраторов иным образом, кроме средств вне сервиса.<br>
            1.10. Сообщения должно размещаться в соответствующий его содержанию раздел форума.<br>
            1.11. Сообщение должно иметь заголовок (название темы), кратко раскрывающий содержимое сообщения. Заголовки в стиле "Мама, помогите!.." или "Вопрос!!!" являются с этой точки зрения неправильными.<br>
            1.12. Запрещается любое коммерческое использование материалов найденных на данном сервиса посредстом кражи тем других авторов.<br>
            1.13. Некоммерческое использование материалов сервиса допускается только при упоминании сервиса как источника информации, а также имени (псевдонима) и e-mail адреса (если доступен) автора информации.<br>
            1.14. При создании темы на сервисе, запрещается использование информации, полученной от третьих лиц без упоминания об источнике данных и разрешения автора.<br>
            1.15. Запрещается использование имен пользователей, похожих на имена других пользователей, с целью выдать за них себя и писать сообщения от их имени.<br>
            <span>За несоблюдение какого либо из вышеперечисленных правил - применяется бан на нашем сервисе.</span>
        </div>
    </div>
{% endblock %}