{% extends 'base.html' %}

{% load sass_tags %}
{% load static %}
{% block style %}{% sass_src 'forum_pages/css/sandbox.min.css' %}{% endblock %}

{% block title %}Sandbox{% endblock %}

{% block content %}
    <div class="sandbox__wrapper">
        <div class="container">
            <div class="sandbox__inner">
                <div class="sandbox__title">Обговорення</div>
                <div class="divider"></div>
                {% if request.user.is_authenticated %}
                <form class="sandbox__form" method="POST" action="">
                    {% csrf_token %}
                    <div class="title__container">
                        <label for="main_text" class="form__name">Залишити повідомлення</label>
                        <textarea type="text" id="main_text" class="sandbox__text" name="main_text" required ></textarea>
                    </div>
                    <input type="submit" class="sandbox__button" value="Зберегти дані" class="submit-inp">
                </form>
                <section class="first__banner">
                    <a href="#" style="width: 1000px; height: 100px;">
                        <img src="{{ main_banner.image.url }}" alt="Banner" style="width: 1180px; height: 200px; object-fit: cover; object-position: center; margin: 20px 0;">
                    </a>
                </section>
                <div class="divider"></div> 
                {% else %}
                <div class="alert alert-warning w-100 fs-4" role="alert">Щоб залишати повідомлення ви повинні <a href="{% url 'login' %}">увійти в акаунт</a></div>
                
                {% endif %}
                <div class="sandbox__info">
                    {% for message in messages  %}
                        <div class="user__wrapper-interface">
                            <div class="user__line-interface"></div>
                            <div class="user__theme-interface">
                                <div class="user__photo-interface"><a href="#"><img src="{{message.user.avatar.url}}" class="side__panel-photo" alt=""></a></div>
                                <div class="user__information">
                                    <div class="user__name-interface">@{{ message.user.username }}</div>
                                    <div class="user__time-interface">{{ message.created|timesince }} тому</div>
                                </div>
                                {% if request.user.username == message.user.username or request.user.username == 'admin' %}
                                    <div class="user__delete-interface">
                                        <div class="update-dropdown">
                                            <button class="dropdown-button">
                                                <img src="{% static 'forum_pages/img/icons/three-dots.svg' %}" alt="Update Icon">
                                            </button>
                                            <div class="dropdown-content">
                                                <a href="{% url 'update-message-sandbox' message.id %}">Update</a>
                                                <a href="{% url 'delete-message' message.id %}">
                                                    <span>Delete</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="user__theme-wrapper">
                                {% if is_update and u_message == message %}
                                    <form action="" method="POST">
                                        {% csrf_token %}
                                        <input type="text" value="{{ message.main_text }}" name="main_text">
                                        <input type="submit" value="Підтвердити" class="btn btn-primary">
                                    </form>
                                {% else %}
                                    <div class="user__text-interface">{{ message.main_text }}</div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


