{% extends 'base.html' %}

{% load sass_tags %}
{% load static %}
{% block style %}{% sass_src 'forum_pages/css/sandbox.min.css' %}{% endblock %}

{% block title %}Sandbox{% endblock %}

{% block content %}
    <div class="sandbox__wrapper">
        <div class="container">
            <div class="sandbox__inner">
                <div class="sandbox__title">Обговорення</div>
                <div class="divider"></div>
                <form class="sandbox__form" method="post" action="{% url 'save_data' %}">
                    {% csrf_token %}
                    <div class="title__container">
                        <label for="main_text" class="form__name">Повідомлення</label>
                        <textarea type="text" id="main_text" class="sandbox__text" name="main_text" required ></textarea>
                    </div>
                    <input type="submit" class="sandbox__button" value="Зберегти дані" class="submit-inp">
                </form>

                <!-- <a href="{% url 'clear_data' %}" class="delete-data">Очистити дані</a> -->
                <div class="divider"></div>
                {% for user in users  %}
                    <div class="sandbox__info">
                        <div class="user__title">Користувачі</div>
                        <div class="user__wrapper">
                            <div class="user__data">
                                <div class="user__photo"><a href="#"><img src="{% static 'forum_pages/img/forum_logo.png'%}" class="side__panel-photo" alt=""></a></div>
                                <div class="user__name">{{ user.name }}</div>
                                <div class="user__time">{{ user.time }}</div>
                            </div>
                            <div class="user__text">{{ user.main_text }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}


