 {% extends 'base.html' %}

{% load sass_tags %}
{% load static %}
{% block style %}{% sass_src 'forum_pages/css/sandbox.min.css' %}{% endblock %}

{% block title %}messages{% endblock %}

{% block content %}


<div class="sandbox__info container">
    <div class="sandbox__title">{{ room.title }}</div>
    <div class="divider"></div>
    {% if request.user.is_authenticated %}
    <form class="sandbox__form" method="POST" action="">
        {% csrf_token %}
        <div class="sandbox__title">Залишити повідомлення</div>
        <div class="title__container">
            <label for="main_text" class="form__name">Повідомлення</label>
            <textarea type="text" id="main_text" class="sandbox__text" name="main_text" required ></textarea>
        </div>
        <input type="submit" class="sandbox__button submit-inp" value="Зберегти дані">
    </form>
    <div class="divider"></div> 
    {% else %}
    <div class="alert alert-warning w-100 fs-4" role="alert">Щоб залишати повідомлення ви повинні <a href="{% url 'login' %}">увійти в акаунт</a></div>
    {% endif %}

    
    {% for message in room_messages %}
        <div class="user__wrapper-interface">
            <div class="user__line-interface"></div>
            <div class="user__theme-interface">
                <div class="user__photo-interface"><a href="#"><img src="{{message.user.avatar.url}}" class="side__panel-photo" alt=""></a></div>
                <div class="user__information">
                    <div class="user__name-interface">@{{ message.user.username }}</div>
                    <div class="user__time-interface">{{ message.created|timesince }} тому</div>
                </div>
                {% if request.user.username == message.user.username or request.user.username == 'admin' %}
                    <div class="user__delete-interface">
                        <div class="update-dropdown">
                            <button class="dropdown-button">
                                <img src="{% static 'forum_pages/img/icons/three-dots.svg' %}" alt="Update Icon">
                            </button>
                            <div class="dropdown-content">
                                <a href="{% url 'update-message' room.id message.id %}">Update</a>
                                <a href="{% url 'delete-message' message.id %}">
                                    <span>Delete</span>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="user__theme-wrapper">
                {% if is_update and u_message == message %}
                    <form action="{% url 'update-message' room.id message.id %}" method="POST">
                        {% csrf_token %}
                        <input type="text" name="main_text" id="" value="{{ message.main_text }}">
                        <input type="submit" value="Підтвердити" class="btn btn-primary">
                    </form>
                {% else %}
                    <div class="user__text-interface user__text-interface2">{{ message.main_text }}</div>
                {% endif %}
            </div>
        </div>
    {% endfor %}

    <style>
        .subthemes__pages{
            display: flex;
            gap: 20px;
            padding: 20px 0;
        }
        .subtheme__page{
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 24px;
            background-color: rgba(135, 135, 198, 0.675);
            border-radius: 50%;
            transition: all .3s ease;
            cursor: pointer;
            color: #000;

            
        }

        .subtheme__page__arrow {
            font-size: 34px;
        }


        .subtheme__page:hover {
            background-color: rgba(135, 135, 198, 0.827);
        }
        .page__selected {
            background-color: rgb(224, 139, 139);
        }
    </style>

    <div class="subthemes__pages">
        <div>
            {% with new_page=current_page|add:"-1" %}
                <a href="{% url 'subtheme' user=user pk=pk page=new_page %}" class="subtheme__page subtheme__page__arrow">&lt;</a>
            {% endwith %}
        </div>{% for page in pages_amount %}
            <div>
                
                <a href="{% url 'subtheme' user=user pk=pk page=page %}" class="subtheme__page {% if page == current_page %}page__selected{% endif %}">{{page}}</a>
            </div>
        {% endfor %}
        <div>
            {% with new_page=current_page|add:"1" %}
                <a href="{% url 'subtheme' user=user pk=pk page=new_page %}" class="subtheme__page subtheme__page__arrow">></a>
            {% endwith %}
        </div>
    </div>
</div>

{% endblock %}


