{% extends 'base.html' %}
{% load humanize %}

{% block content %}


<style>
    footer {
        display: none;
    }
</style>

<div class="container">
        <!-- <h1 class="fs-1 text-center">{{request.user.username}}</h1> -->
    <!-- {% if messages %}
        <div class="alert alert-success mt-3" role="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-success mt-3" role="alert">
            A simple success alert—check it out!
        </div>
    {% endif %} -->
    <div class="user__box">
        <div class="user__box-header">
            <img src="{{ request.user.avatar.url }}" alt="">
            <h1>Вітаємо,{{ request.user.username }}</h1>
            <button class="open-btn" id="openBtn">Змінити профіль</button>
        </div>
        <div class="user__box-footer">
            <h3>Дата приєднання: {{ request.user.date_joined|date:"d.m.Y" }}</h3>
            <h3 id="user__message-amount">Кількість створених тем: {{ user_messages }}</h3>
            <h3>Кількість написаних повідомлень: {{ messages_amount }}</h3>
        </div>
    </div>
    <hr>
    <br>
        <div class="user__adv-title">Ваша активність</div>
        <div class="user__adv">
            {% for theme in last_themes %}  
            <div class="user__wrapper">
                <div class="user__line"></div>
                <div class="user__data">
                    <div class="user__named">@{{ theme.user.username }}</div>
                    <div class="user__time">{{ theme.created|timesince }}</div>
                    <br>
                </div>
                <div class="user__info">
                    <div class="user__text"><a href="#">{{ theme.theme }}</a></div>
                    <div class="user__nickname">{{ theme.main_text }}</div>
                </div>
                <hr>
            </div>
        {% endfor %}
        </div>
<div class="overlay" id="overlay">
    <div class="modal" id="edit">
        <div class="modal__close" onclick="closeOverlay()">&times;</div>
        <form method="GET" action="{% url 'search' %}">
            {% csrf_token %}
            {% for forms in user_forms %}
                <h1>{{ form.errors }}</h1>
                <label for="">{{ forms.label}}</label>
                {% if 'Telegram' in forms.label %}
                <input type="text" name="telegram" value="@{{forms.value}}" maxlength="200"  id="id_telegram">
                {% else %}
                    {{ forms }}
                {% endif %}
        
            {% endfor %}
            <input type="submit" value="Update" class="btn btn-primary mt-2">
        </form>
    </div>
</div>
{% endblock %}