{% extends 'base.html' %}

{% load static %}

{% block title %}Create Theme{% endblock %}

{% block content %}
<div class="container">
    <form method="POST" action="">
        {% csrf_token %}
        <div class="text-center fw-bold fs-1">Створити тему</div>
        <div class="title__container">
            <label class="fs-4 fw-bold">заголовок</label>
            <input type="text" class="form form-control" name="title" required >

            <label class="fs-4 fw-bold">Текст до реклами</label>
            <textarea class="form form-control" name="text" required ></textarea>
        </div>
        <input type="submit" class="btn btn-primary mt-3 mb-3" value="Створити і видалити минулий">
    </form>
</div>
{% endblock %}