{% extends 'base.html' %}

{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'forum_pages/css/sandbox.min.css' %}">
{% endblock %}

{% block title %}Login{% endblock %}


{% block content %}
    <style>
        .container{
            height: 100%;
        }
        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
        }
    </style>
    <h1 class="text-center fw-medium mt-3 fs-1">Увійти в акаунт</h1>
        {% for message in messages %}
            <div class="container_login">
                <div class="alert alert-warning" role="alert">
                    {{ message }}
                </div>
            </div>
        {% endfor %}
        <div class="container_login">
            <form method="POST" action="">
                {% csrf_token %}
                <div class="mb-3">
                <label for="username" class="form-label">Нікнейм</label>
                <input type="text" class="form-control" name="username" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                <label for="password" class="form-label">Пароль</label>
                <input type="password" class="form-control" name="password">
                </div>
                <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Запам'ятати мене</label>
                </div>
                <input type="submit" class="btn btn-primary w-100" value="Увійти">
            </form>
        </div>
{% endblock %}


