{% extends 'base.html' %}

{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'forum_pages/css/themes.min.css' %}">
<link rel="stylesheet" href="{% static 'forum_pages/css/themesmedia.min.css' %}">
{% endblock %}

{% block title %} Головна сторінка {% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="container">
            <div class="content">
                <div class="w-100">
                    <section class="adult__trafic main__panel-section">
                        <div class="adult__trafic-title main-title-text">Всі теми</div>
                        <div class="adult__trafic-themes">
                            {% for theme in themes %}
                                <div class="adult__trafic-theme">
                                    <div class="adult__trafic-theme-item"><a href="{% url 'subthemes' theme.id%}">{{ theme }}</a></div>
                                    {% if request.user.username == 'admin' %}
                                        <a href="{% url 'delete-theme' theme.id %}" class="m-lg-1" style="color: #000"><img src="{% static 'forum_pages/img/icons/trash.png'%}" class="delete-theme" alt="#"></a>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
{% endblock %}