{% extends 'base.html' %}

{% block content %}
<style>
    .svg-icon {
        width: 50px;
        height: 50px;
    }

    .ban_texts {
        display: flex;
        align-items: center;
    }

    .texts {
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: center;
        margin-top: 50px;
        justify-content: center;
    }

    .text {
        font-size: 18px;
    }

    .ban_reason_title {
        font-size: 24px;
        font-weight: 600;
    }

    .ban_reason_text {
        font-size: 16px;
    }

    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
    }

</style>
<div class="container sandbox__info">
    <div class="texts">
        <div class="ban_texts">
            <svg class="svg-icon" viewBox="0 0 20 20" fill="red">
                <path d="M10.185,1.417c-4.741,0-8.583,3.842-8.583,8.583c0,4.74,3.842,8.582,8.583,8.582S18.768,14.74,18.768,10C18.768,5.259,14.926,1.417,10.185,1.417 M10.185,17.68c-4.235,0-7.679-3.445-7.679-7.68c0-4.235,3.444-7.679,7.679-7.679S17.864,5.765,17.864,10C17.864,14.234,14.42,17.68,10.185,17.68 M10.824,10l2.842-2.844c0.178-0.176,0.178-0.46,0-0.637c-0.177-0.178-0.461-0.178-0.637,0l-2.844,2.841L7.341,6.52c-0.176-0.178-0.46-0.178-0.637,0c-0.178,0.176-0.178,0.461,0,0.637L9.546,10l-2.841,2.844c-0.178,0.176-0.178,0.461,0,0.637c0.178,0.178,0.459,0.178,0.637,0l2.844-2.841l2.844,2.841c0.178,0.178,0.459,0.178,0.637,0c0.178-0.176,0.178-0.461,0-0.637L10.824,10z"></path>
            </svg>
            <div class="text">Ваш обліковий запис заблокований. Зверніться до адміністратора для отримання додаткової інформації.</div>
        </div>
        <div class="ban_reason">
            <div class="ban_reason_title">Причина бану:</div>
            <div class="ban_reason_text">{{request.user.ban_reason}}</div>
        </div>
    </div>
    
</div>

{% endblock %}