{% extends 'base.html' %}

{% load static %}

{% block style %}

<link rel="stylesheet" href="{% static 'forum_pages/css/specific.min.css' %}">
<link rel="stylesheet" href="{% static 'forum_pages/css/specificmedia.min.css' %}">

{% endblock %}

{% block content %}

<style>
    .specific__main__title {
        text-align: center;
        font-size: 48px;
        font-weight: 800;
    }
    .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
        }
</style>
<!-- TODO тут потрібно зверстати фулл сторінку, по тиму subthemes.html, чисто теми повинні бути і лінк який веде кудись (макет бачиш)-->
<div class="container">
    <div class="container">
        <div class="text-center fw-bold fs-1">Створити власне оголошення</div>
        <form action="{% url 'create-specific-theme' assoc %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Створити" class="btn btn-primary mt-3 mb-3">
        </form>
        <hr>
        <div class="specific__main">
            {% if themes %}
                <div class="specific__main__title">Всі оголошення</div>
            {% else %}
                <div class="specific__main__title">Наразі нема оголошень</div>
            {% endif %}
            {% for theme in themes %}
                <div class="specific__theme-item">
                    <div class="specific__theme-item-interface">
                        <img src="{{theme.user.avatar.url}}" alt="" width="50" class="specific__theme-item-logo">
                        <div class="specific__theme-item-data">
                            <a href="{% url 'user-profile' theme.user.username %}" class="specific__theme-item-name">@{{theme.user.username}}</a>
                            <div class="specific__theme-item-time">{{theme.created}}</div>
                        </div>
                    </div>
                    <div class="specific__theme-item-textWrapper">
                        <div class="specific__theme-item-title">{{theme.title}}</div>
                        <div class="specific__theme-item-text">{{theme.text}}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}