@media screen and (max-width: 1200px) {
    .user__adv {
        &-title {
            font-size: 20px;
        }
    }
    .user__box {
        &-footer {
            gap: 20px;
            height: 63px;
            padding: 25px;
            h3 {
                font-size: 14px;
                margin-bottom: 0;
            }
        }
        &-header {
            padding-top: 30px;
            button {
                font-size: 14px;
            }
            h1 {
                font-size: 36px;
                margin-top: 5px;
            }
            img {
                width: 85px;
            }
        }
    }

    .main-title-text {
        font-size: 22px;
    }
    .first__advertisment {
        &-title {
            a {
                font-size: 16px;
            }
        }
        &-text {
            font-size: 15px;
        }
    }
    .divider {
        margin: 10px 0;
    }
    .advert {
        &__time {
            font-size: 14px;
        }
    }
    .side__panel-photo {
        width: 30px;
        height: 30px;
    }
    .content {
        gap: 26px;
    }
    .agency-title-text {
        font-size: 34px;
        padding: 5px 0;
    }
    .agency {
        &__wrapper {
            margin-top: 10px;
        }
        &__title {
            font-size: 20px;
        }
        &__username {
            a {
                font-size: 15px;
            }
        }
        &__time {
            font-size: 13px;
        }
        &__banner {
            height: 190px;
        }
        &__name {
            padding: 5px 10px;
            font-size: 20px;
        }
    }
}
@media screen and (max-width: 980px) {
    .content {
        flex-direction: column;
        align-items: center;
    }
    .main__panel {
        width: 100%;
    }
    #logOut {
        padding: 10px 35px;
        font-size: 14px;
    }
    .side__panel {
        align-self: center;
    }
    hr {
        margin: 0rem 0;
    }
    .user {
        &__wrapper {
            padding: 5px;
        }
        &__data {
            gap: 5px;
        }
        &__photo {
            img {
                width: 30px;
            }
        }
        &__named {
            font-size: 14px;
        }
        &__time {
            font-size: 14px;
        }
        &__text {
            font-size: 14px;
        }
        &__nickname {
            font-size: 17px;
        }
    }
    .user__box {
        &-footer {
            #user__message-amount {
                margin-left: 20px;
            }
            h3 {
                font-size: 12px;
            }
        }
    }
    .adult__trafic-theme {
        font-size: 14px;
    }
    .main-title-text {
        font-size: 18px;
    }
    .first__advertisment {
        &-title {
            font-size: 13px;
            text-align: center;
        }
        &-text {
            font-size: 12px;
            text-align: center;
        }
    }
    .advertisments__title {
        font-size: 18px;
    }
    .side__panel {
        width: 100%;
        &-message {
            width: 100%;
        }
        &-text {
            width: 100%;
        }
        .divider {
            margin: 20px 0;
        }
    }
    .modal {
        form {
            margin-top: 20px;
        }
    }
    .modal {
        width: 500px;
    }
    .show-email-text,
    .show-tg-text {
        font-size: 15px;
        color: #212529;
        font-weight: 700;
    }
    .user__adv {
        padding: 0px;
    }
    .agency-title-text {
        font-size: 24px;
        margin-bottom: 10px;
    }
    .agency {
        &__title {
            font-size: 16px;
        }
        &__box {
            padding: 20px;
        }
        &__name {
            font-size: 16px;
        }
    }
}
@media screen and (max-width: 680px) {
    .justify-content-sm-between {
        justify-content: space-between !important;
    }
    .content {
        gap: 15px;
    }
    .side__panel {
        &-userinfo {
            gap: 15px;
        }
        &-author {
            font-size: 13px;
        }
        &-time {
            font-size: 13px;
        }
        &-text {
            margin-top: 5px;
            font-size: 14px;
        }
        .divider {
            margin: 10px 0;
        }
    }
    .advert {
        &__kind {
            font-size: 14px;
        }
        &__name {
            font-size: 14px;
        }
        &__time {
            font-size: 13px;
        }
        &__text {
            font-size: 14px;
        }
    }
    .first__advertisment {
        &-title {
            a {
                font-size: 14px;
            }
        }
        &-text {
            font-size: 12px;
        }
    }
    .user__box {
        &-header {
            button {
                font-size: 12px;
            }
            h1 {
                font-size: 32px;
                margin-top: 10px;
            }
        }
        &-footer {
            h3 {
                font-size: 10px;
            }
        }
    }
    .modal {
        width: 300px;
        form {
            label {
                font-size: 15px;
            }
            input {
                font-size: 14px;
            }
        }
    }
    .agency-title-text {
        font-size: 24px;
    }
    .agency {
        &__wrapper {
            margin-bottom: 25px;
        }
        &__title {
            font-size: 14px;
        }
        &__box {
            padding: 20px;
        }
        &__name {
            font-size: 13px;
        }
        &__banner {
            height: 150px;
        }
        &__username {
            a {
                font-size: 12px;
            }
        }
        &__time {
            font-size: 10px;
        }
    }
}
@media screen and (max-width: 480px) {
    .btn-primary {
        font-size: 11px;
    }
    .first__advertisment {
        &-title {
            a {
                font-size: 13px;
            }
            margin-bottom: 5px;
        }
        &-text {
            font-size: 11px;
        }
    }
    .advert {
        &__name {
            font-size: 12px;
        }
        &__text {
            font-size: 12px;
        }
        &__time {
            margin-right: 5px;
            font-size: 12px;
        }
        &__kind {
            width: 50%;
            margin-right: 5px;
            padding-left: 5px;
            padding-right: 5px;
        }
    }
    .adult__trafic-theme {
        font-size: 13px;
    }
    .advertisments__title {
        font-size: 15px;
    }
    .main-title-text {
        font-size: 15px;
    }
    .user {
        &__box {
            &-header {
                button {
                    font-size: 10px;
                }
                h1 {
                    font-size: 22px;
                    margin-top: 16px;
                }
            }
        }
        &__nickname {
            max-width: 80%;
        }
    }
    .agency-title-text {
        font-size: 24px;
    }
    .agency {
        &__name {
            font-size: 12px;
        }
        &__data {
            margin-left: 10px;
        }
    }
}
