body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}
.link-subheader {
    width: 100%;
    text-align: center;
}
.btn-subheader {
    width: 70% !important;
}
.form__name{
    font-size: 20px;
    font-weight: 700;
    margin-top: 25px;
}
.sandbox {
    &__first-banner {
        width: 100%;
        img {
            width: 100%;
            height: 300px;
            object-fit: cover;
            object-position: center;
        }
    }
    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
    }
    &__title {
        text-align: center;
        font-size: 44px;
        color: black;
        font-weight: 700;
    }
    &__list {
        margin-top: 15px;
    }
    &__form {
        width: 60%;
        input {
            margin-top: 15px;
            font-size: 18px;
            font-weight: 700;
        }
        textarea {
            font-weight: 700;
            resize: none;
            padding: 20px;
            font-size: 15px;
            font-weight: 700;
            color: #0d6efd;
            height: 170px;
        }
    }
    &__text {
        margin-top: 5px;
        width: 100%;
        resize: none;
        padding: 20px;
        font-size: 12px;
        border: 1px solid #0d6efd;
    }
    &__button {
        padding: 15px 25px;
        color: wheat;
        background-color: #0d6efd;
        transition: all 0.3s ease-in-out;
    }
    &__info {
        width: 100%;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.user {
    &__rightWrapper {
        display: flex;
        flex-direction: column;
        margin-left: auto;
    }
    &__line-interface {
        background-color: rgb(80, 79, 79, 0.5);
        height: 105%;
        width: 2px;
        float: left;
        margin: 0 10px 0 0;
    }
    &__text-interface {
        font-size: 18px;
        word-wrap: break-word;
    }
    &__title-interface {
        font-size: 20px;
        color: black;
        a {
            font-weight: 700;
        }
    }
    &__theme-wrapper {
        margin-top: 10px;
        margin-left: 5px;
    }
    &__wrapper-interface {
        width: 100%;
        background-color: rgba(203, 203, 203, 0.297);
        padding: 25px;
        margin-top: 20px;
        &:last-child {
            margin-bottom: 40px;
        }
        img {
            width: 20px;
            color: white;
            margin-right: 0px;
        }
    }
    &__data-interface {
        display: flex;
        gap: 2%;
        align-items: center;
    }
    &__delete-interface {
        margin-left: auto;
        .dropdown-button{
            padding: 10px;
        }
        .dropdown-content{
            width: 10%;
            a{
                color: white;
            }
        }
    }
    &__information {
        display: flex;
        flex-direction: column;
    }
    &__photo-interface {
        img {
            width: 30px;
            border-radius: 100%;
        }
    }
    &__number-interface {
        font-size: 18px;
        b {
            font-size: 25px;
        }
    }
    &__name-interface {
        font-size: 18px;
        font-weight: 500;
        a {
            color: black;
        }
    }
    &__content-interface {
        margin-left: 5px;
    }
    &__title-interface {
        word-wrap: break-word;
        font-size: 26px;
        font-weight: 500;
        a {
            color: black;
        }
    }
    &__theme-interface {
        display: flex;
        gap: 2%;
        align-items: center;
    }
  }