
@media screen and (max-width: 1200px) {
    .specific__main__title{
        font-size: 36px!important;
    }
    .specific{
        &__theme{
            &-item{
                &-text{
                    font-size: 16px;
                }
                &-title{
                    font-size: 18px;
                }
            }
        }
    }
}
@media screen and (max-width: 980px) {

}
@media screen and (max-width: 680px) {
    .specific__main__title{
        font-size: 26px!important;
    }
    .specific{
        &__theme{
            &-item{
                padding: 10px;
                &-name{
                    font-size: 16px;
                }
                &-time{
                    font-size: 14px;
                }
                &-text{
                    font-size: 14px;
                }
                &-interface{
                    gap: 5%
                }
                &-title{
                    font-size: 16px;
                }
            }
        }
    }

}
@media screen and (max-width: 480px) {

}
