$mainColor: rgb(76, 76, 150);
*,
*::before,
*::after {
    font-family: "Roboto" sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    list-style-type: none;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}


.wrapper {
    min-height: 100%;
    overflow: hidden;
}

.container {
    max-width: 80%;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}
.hamburger{
    display: none;
}
.container_login {
    max-width: 40%;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}

.header {
    background-color: $mainColor;
    padding: 10px 0;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        img {
            width: 50px;
        }
    }
    &__auth {
        display: flex;
        gap: 40px;
        a {
            padding: 5px 15px;
            color: wheat;
            background-color: rgb(63, 63, 63);
            transition: all 0.3s ease-in-out;
            &:hover {
                color: violet;
            }
        }
    }
    &__links {
        display: flex;
        gap: 45px;
        a {
            color: wheat;
            font-size: 18px;
            transition: all 0.5s ease;
            &:hover {
                color: rgb(255, 255, 158);
            }
        }
    }
}
.footer {
    padding: 10px 0;
    background-color: $mainColor;
    margin-top: 30px;
    .container {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
    }
    &__logo {
        img {
            width: 40px;
        }
    }
    &__contactus {
        display: flex;
        gap: 30px;
        img {
            width: 40px;
            height: 40px;
        }
    }
    &__links {
        display: flex;
        gap: 50px;
        a {
            color: wheat;
            font-size: 20px;
            transition: all 0.5s ease;
            &:hover {
                color: rgb(255, 255, 158);
            }
        }
    }
}

.divider {
    margin: 20px 0;
    width: 100%;
    height: 1px;
    background: grey;
    opacity: 0.4;
    &-vertical{
        height: 100%;
        width: 1px;
        background: grey;
        opacity: 0.4;
    }
    .divider{
        background-color:rgb(31, 31, 82);
        margin: 0px;
    }
}
.dropdown-button {
    display: flex;
    align-items: center;
    background-color: rgb(31, 31, 82); /* Колір фону кнопки */
    border: none;
    cursor: pointer;
    padding: 10px;
}

.dropdown-button img {
    width: 40px;
    background-color: none;
    margin-right: 10px;
    border-radius: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9; /* Колір фону випадаючого меню */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 5;
    width: 100%;
    text-align: center;
}

.dropdown-content a {
    color: #ffffff; /* Колір тексту пунктів меню */
    padding: 12px;
    text-decoration: none;
    display: block;
    background-color: rgb(31, 31, 82);
}

.dropdown-content a:hover {
    background-color: rgb(37, 117, 128);
}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-button{
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px; 
}
.search-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    input{
        height: 40px;
        width: 250px;
        border-radius: 10px 0 0 10px;
        padding: 10px;
        background: #0d6efd;
        border: none;
        color: white;
        &::placeholder{
            color: white;
        }
        &:focus{
            outline: none !important;
        }
    }
    button{
        height: 40px;
        background:transparent;
        border-radius: 0px 10px 10px 0px;
        background: #13151a;
        img{
            width: 30px;
            padding: 5px;
        }
    }

}
.button__img-wrapper{
    width: 100%;
    height: 100%;
}
.user__box{
    position: relative;
    margin-top: 20px;
    width: 100%;
    min-height: 250px;
    background: url('../img/icons/userBackground.jpg') center (center / cover) no-repeat;
    &__name{
        font-size: 18px;
        font-family: 700;
        color:rgb(37, 117, 128);
    }
    &-header{
        position: relative;
        padding-top: 10px;
        button{
            position: absolute;
            top: 5px;
            right: 5px;
            background-color: #4c4c96;
            padding: 5px;
            font-size: 18px;
            font-weight: 700;
        }
        h1{
            font-size: 48px;
            font-weight: 700;
            text-align: center;
        }
        img{
            display: block;
            margin: 0 auto;
            width: 100px;
            border-radius: 100%;
        }
    }
    &-footer{
        position: absolute;
        display: flex;
        justify-content: space-evenly;
        font-size: 18px;
        font-weight: 700;
        align-items: center;
        bottom: 0;
        width: 100%;
        height: 50px;
        padding: 20px;
        background-color: #4c4c96;
        color: wheat;
        #user__message-amount{
            margin-left: 30px;
        }
    }
}

.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0, .56);
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    min-height: 400px;
    background-color: #f2f2f2;
    padding: 38px 40px 40px 40px;
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 4px black solid;
        input{
            width: 70% !important;
            margin-bottom: 15px;
            border: 4px black solid;
            &:last-child{
                border: none;
                margin-bottom: 30px;
            }
        }
        label{
            margin-top: 10px;
            text-align: left;
        }
    }
}   

.modal__close {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 38px;
    cursor: pointer;
    color: #0d6efd;
}

.user__adv{
    max-height: 300px;
    overflow-y: scroll;
    width: 100%;
    border: 3px solid $mainColor;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    &-title{
        text-align: center;
        font-size: 24px;
        padding: 10px 0;
        color: wheat;
        background-color: $mainColor;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
}
.user__wrapper{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    img{
        width: 30px;
    }
}
.user__data{
    display: flex;
    justify-content: space-between;
    width: 40%;
    &::after{
        height: 10px;
        width: 1px;
        background-color: black;
    }
}
.user__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}
.user__nickname{
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
    color: #03174e;
}
.user__text{
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
    font-weight: 700;
}
.user__named{
    font-size: 18px;
    font-weight: 700;
}
