$mainColor: rgb(76, 76, 150);
*,
*::before,
*::after {
    font-family: "Roboto" sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    list-style-type: none;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

.container {
    max-width: 80%;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}

.container_login {
    max-width: 40%;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}

.header {
    background-color: $mainColor;
    padding: 10px 0;
    .container {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
    }
    &__logo {
        img {
            width: 50px;
        }
    }
    &__auth {
        display: flex;
        gap: 40px;
        a {
            padding: 5px 15px;
            color: wheat;
            background-color: rgb(63, 63, 63);
            transition: all 0.3s ease-in-out;
            &:hover {
                color: violet;
            }
        }
    }
    &__links {
        display: flex;
        gap: 50px;
        a {
            color: wheat;
            font-size: 20px;
            transition: all 0.5s ease;
            &:hover {
                color: rgb(255, 255, 158);
            }
        }
    }
}
.footer {
    padding: 10px 0;
    background-color: $mainColor;
    margin-top: 30px;
    .container {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
    }
    &__logo {
        img {
            width: 40px;
        }
    }
    &__contactus {
        display: flex;
        gap: 30px;
        img {
            width: 40px;
            height: 40px;
        }
    }
    &__links {
        display: flex;
        gap: 50px;
        a {
            color: wheat;
            font-size: 20px;
            transition: all 0.5s ease;
            &:hover {
                color: rgb(255, 255, 158);
            }
        }
    }
}

.divider {
    margin: 20px 0;
    width: 100%;
    height: 1px;
    background: grey;
    opacity: 0.4;
}
