@media screen and (max-width: 1200px) {
    .container{
        max-width: 90%;
    }
    .header{
        .container{
            max-width: 90%;
        }
        &__search{
            width: 120px;
        }
        &__logo {
            img {
                width: 40px;
            }
        }
        &__links {
            gap: 20px;
            a {
                font-size: 16px;
            }
        }
        &__auth{
            gap: 20px;
            a{
                font-size: 18px;
            }
        }
    }
    .main-title-text{
        font-size: 22px;
    }
    .first__advertisment{
        &-title{
            a{
                font-size: 16px;
            }
        }
        &-text{
            font-size: 15px;
        }
    }
    .divider{
        margin: 10px 0;
    }
    .footer__logo img {
        width: 40px;
    }
    .advert{
        &__time{
            font-size: 14px;
        }
    }
    .content{
        gap: 26px;
    }
}    
@media screen and (max-width: 980px) {
    .content{
        flex-direction: column;
        align-items: center;
    }
    .main__panel{
        width: 100%;
    }
    #logOut{
        padding: 10px 35px;
        font-size: 14px;
    }
    .side__panel{
        align-self: center;
    }
    .header__links {
        position: fixed;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        z-index: 3;
        left: -100%;
        width: 50%;
        height: 100vh;
        padding: 20px 15px;
        background-color: rgba(0, 0, 0, 0.8);
        transition: 0.6s all;
    
        &._active {
            left: 0;
        }
    
        .header__link {
            padding-right: 0;
            border: none;
            margin: 0;
            font-size: 20px;
        }
    }
    .dropdown__menu{
        display: none;
    }
    .hamburger {
        display: block;
        position: absolute;
        right: 15px;
        top: 30px;
        transform: translateY(-50%);
        width: 26px;
        height: 12px;
        margin-left: 5px;
        span {
            display: block;
            height: 2px;
            width: 100%;
            background-color: #fff;
            margin-bottom: 2px;
            transition: 0.5s all;
        }
    
        &._active {
            span {
                margin-bottom: -2px;
    
                &:nth-child(1) {
                    transform: translateY(0px) rotate(-45deg);
                }
    
                &:nth-child(2) {
                    display: none;
                }
    
                &:nth-child(3) {
                    transform: translateY(0px) rotate(45deg);
                }
            }
        }
    }
    .header{
        &__logo {
            img {
                width: 30px;
            }
        }
        &__auth{
            gap: 10px;
            margin-left:40px ;
            a{
                font-size: 14px;
                padding: 5px 5px;
            }
        }
        &__links{
            gap: 24px;
            a{
                font-size: 14px;
            }
        }
        
    }
    .searchBox{
        margin-right: 40px;
    }
    .adult__trafic-theme{
        font-size: 14px;
    }
    .main-title-text{
        font-size: 18px;
    }
    .first__advertisment{
        &-title{
            font-size: 13px;
            text-align: center;
        }
        &-text{
            font-size: 12px;
            text-align: center;
        }
    }
    .advertisments__title {
        font-size: 18px;
    }
    .side__panel{
        width: 100%;
        &-message{
            width: 100%;
        }
        &-text{
            width: 100%;
        }
        .divider{
            margin: 20px 0;
        }
        
    }
    .footer{
        margin-top: 20px;
        &__links{
            display: none;
            a{
                font-size: 14px;
            }
        }
        &__logo {
            img {
                width: 30px;
            }
        }
        &__contactus{
            a{
                img{
                    width: 30px;
                    height: 30px;

}
            }
        }
    }
    .dropdown-button{
        background-color: rgba(0, 0, 0, -0.2);
        transition: 0.6s all;
    }
    .dropdown-content{
        background-color: rgba(0, 0, 0, -0.2);
        transition: 0.6s all;
        a{
            color: wheat;
            background-color: rgb(71, 71, 71);
        }
    }
}
@media screen and (max-width: 640px) {
    .content{
        gap: 15px;
    }
    .side__panel{
        &-userinfo{
            gap: 15px;
        }
        &-author{
            font-size: 13px;
        }
        &-time{
            font-size: 13px;
        }
        &-text{
            margin-top: 5px;
            font-size: 14px;
        }
        .divider{
            margin: 10px 0;

        }
    }
    .advert{
        &__kind{
            font-size: 14px;
        }
        &__name{
            font-size: 14px;
        }
        &__time{
            font-size: 13px;
        }
        &__text{
            font-size: 14px;
        }
    }
    .first__advertisment{
        &-title{
            a{
                font-size: 14px;
            }
        }
        &-text{
            font-size: 12px;
        }
    }
    .header{
        &__logo {
            img {
                width: 40px;
            }
        }
        &__auth{
            margin: 0;
            text-align: center;
            a{
                font-size: 16px;
                color: rgb(199, 189, 130);
                background-color: rgba(0, 0, 0, 0);
                transition: 0.6s all;
            }
        }
        &__search{
            width: 120px;
        }
    }
    #logOut{
        padding: 5px 15px;
        border-radius: 0;
        font-size: 14px;
    }
    .footer{
        &__contactus{
            gap: 20px;
        }
        .container{
            justify-content: space-evenly;
            gap: 30px;
        }
    }
    .searchBox:hover > .searchInput {
        width: 80px;
        padding: 0 6px;
    }
    .searchButton{
        img{
            width: 20px;
        }
    }
    
}
@media screen and (max-width: 480px)  {
    .first__advertisment{
        &-title{
            a{
                font-size: 13px;
            }
            margin-bottom: 5px;
        }
        &-text{
            font-size: 11px;
        }
    }
    .advert{
        &__name{
            font-size: 12px;
        }
        &__text{
            font-size: 12px;
        }
        &__time{
            margin-right: 5px;
            font-size: 12px;
        }
        &__kind{
            width: 50%;
            margin-right: 5px;
            padding-left: 5px;
            padding-right: 5px;
        }
    }
    .adult__trafic-theme{
        font-size: 13px;
    }
    .advertisments__title{
        font-size: 15px;
    }
    .main-title-text {
        font-size: 15px;
    }
    .header{
        &__search{
            width: 100px;
            height: 25px;
        }
        &__logo{
            img{
                width: 30px;
            }
        }
        &__search{
            width: 100px;
        }
        &__auth{
            flex-direction: column;
        }
    }
    .footer{
        &__logo{
            img{
                width: 30px;
            }
        }
        &__contactus{
            gap: 20px;
        }
    }
    
}