@media screen and (max-width: 1200px) {
  .container {
    max-width: 90%; }
  .header .container {
    max-width: 90%; }
  .header__search {
    width: 120px; }
  .header__logo img {
    width: 40px; }
  .header__links {
    gap: 20px; }
    .header__links a {
      font-size: 16px; }
  .header__auth {
    gap: 20px; }
    .header__auth a {
      font-size: 18px; }
  .user__adv-title {
    font-size: 20px; }
  .user__box-footer {
    gap: 20px;
    height: 40px;
    padding: 25px; }
    .user__box-footer h3 {
      font-size: 14px;
      margin-bottom: 0; }
  .user__box-header {
    padding-top: 30px; }
    .user__box-header button {
      font-size: 14px; }
    .user__box-header h1 {
      font-size: 36px;
      margin-top: 5px; }
    .user__box-header img {
      width: 85px; }
  .main-title-text {
    font-size: 22px; }
  .first__advertisment-title a {
    font-size: 16px; }
  .first__advertisment-text {
    font-size: 15px; }
  .divider {
    margin: 10px 0; }
  .footer__logo img {
    width: 40px; }
  .advert__time {
    font-size: 14px; }
  .content {
    gap: 26px; } }

@media screen and (max-width: 980px) {
  .content {
    flex-direction: column;
    align-items: center; }
  .main__panel {
    width: 100%; }
  #logOut {
    padding: 10px 35px;
    font-size: 14px; }
  .side__panel {
    align-self: center; }
  hr {
    margin: 0rem 0; }
  .user__wrapper {
    padding: 5px; }
  .user__data {
    align-items: center;
    gap: 20px; }
  .user__named {
    font-size: 14px; }
  .user__time {
    font-size: 14px; }
  .user__text {
    font-size: 14px; }
  .user__nickname {
    font-size: 14px; }
  .user__box-footer {
    gap: 0; }
    .user__box-footer #user__message-amount {
      margin-left: 20px; }
    .user__box-footer h3 {
      font-size: 12px; }
  .header__links {
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    z-index: 3;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.6s all; }
    .header__links._active {
      left: 0; }
    .header__links .header__link {
      padding-right: 0;
      border: none;
      margin: 0;
      font-size: 20px; }
  .dropdown__menu {
    display: none; }
  .hamburger {
    display: block;
    position: absolute;
    right: 15px;
    top: 30px;
    transform: translateY(-50%);
    width: 26px;
    height: 12px;
    margin-left: 5px; }
    .hamburger span {
      display: block;
      height: 2px;
      width: 100%;
      background-color: #fff;
      margin-bottom: 2px;
      transition: 0.5s all; }
    .hamburger._active span {
      margin-bottom: -2px; }
      .hamburger._active span:nth-child(1) {
        transform: translateY(0px) rotate(-45deg); }
      .hamburger._active span:nth-child(2) {
        display: none; }
      .hamburger._active span:nth-child(3) {
        transform: translateY(0px) rotate(45deg); }
  .header__logo img {
    width: 30px; }
  .header__auth {
    gap: 10px;
    margin-left: 40px; }
    .header__auth a {
      font-size: 14px;
      padding: 5px 5px; }
  .header__links {
    gap: 24px; }
    .header__links a {
      font-size: 14px; }
  .searchBox {
    margin-right: 40px; }
  .adult__trafic-theme {
    font-size: 14px; }
  .main-title-text {
    font-size: 18px; }
  .first__advertisment-title {
    font-size: 13px;
    text-align: center; }
  .first__advertisment-text {
    font-size: 12px;
    text-align: center; }
  .advertisments__title {
    font-size: 18px; }
  .side__panel {
    width: 100%; }
    .side__panel-message {
      width: 100%; }
    .side__panel-text {
      width: 100%; }
    .side__panel .divider {
      margin: 20px 0; }
  .footer {
    margin-top: 20px; }
    .footer__links {
      display: none; }
      .footer__links a {
        font-size: 14px; }
    .footer__logo img {
      width: 30px; }
    .footer__contactus a img {
      width: 30px;
      height: 30px; }
  .dropdown-button {
    background-color: rgba(0, 0, 0, 0);
    transition: 0.6s all; }
  .dropdown-content {
    background-color: rgba(0, 0, 0, 0);
    transition: 0.6s all; }
    .dropdown-content a {
      color: wheat;
      background-color: #474747; }
  .form__wrapper {
    display: block;
    margin: 0 auto; }
  .search-container input {
    height: 35px;
    width: 320px; }
    .search-container input::placeholder {
      font-size: 14px; }
  .search-container button {
    height: 35px; }
    .search-container button img {
      width: 30px; }
  .modal {
    width: 500px; }
  .show-email-text, .show-tg-text {
    font-size: 20px;
    color: #212529;
    font-weight: 700; }
  .user__adv {
    padding: 0px; } }

@media screen and (max-width: 680px) {
  .content {
    gap: 15px; }
  .side__panel-userinfo {
    gap: 15px; }
  .side__panel-author {
    font-size: 13px; }
  .side__panel-time {
    font-size: 13px; }
  .side__panel-text {
    margin-top: 5px;
    font-size: 14px; }
  .side__panel .divider {
    margin: 10px 0; }
  .advert__kind {
    font-size: 14px; }
  .advert__name {
    font-size: 14px; }
  .advert__time {
    font-size: 13px; }
  .advert__text {
    font-size: 14px; }
  .first__advertisment-title a {
    font-size: 14px; }
  .first__advertisment-text {
    font-size: 12px; }
  .header__auth {
    margin: 0;
    text-align: center; }
    .header__auth a {
      font-size: 16px;
      color: #c7bd82;
      background-color: rgba(0, 0, 0, 0);
      transition: 0.6s all; }
  .header__search {
    width: 120px; }
  #logOut {
    padding: 5px 15px;
    border-radius: 0;
    font-size: 14px; }
  .footer__contactus {
    gap: 20px; }
  .footer .container {
    justify-content: space-evenly;
    gap: 30px; }
  .searchBox:hover > .searchInput {
    width: 80px;
    padding: 0 6px; }
  .searchButton img {
    width: 30px; }
  .user__box-header button {
    font-size: 12px; }
  .user__box-header h1 {
    font-size: 32px;
    margin-top: 10px; }
  .user__box-footer h3 {
    font-size: 10px; }
  .modal {
    width: 300px; }
    .modal form label {
      font-size: 15px; }
    .modal form input {
      font-size: 14px; } }

@media screen and (max-width: 480px) {
  .btn-primary {
    font-size: 11px; }
  .first__advertisment-title {
    margin-bottom: 5px; }
    .first__advertisment-title a {
      font-size: 13px; }
  .first__advertisment-text {
    font-size: 11px; }
  .advert__name {
    font-size: 12px; }
  .advert__text {
    font-size: 12px; }
  .advert__time {
    margin-right: 5px;
    font-size: 12px; }
  .advert__kind {
    width: 50%;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px; }
  .adult__trafic-theme {
    font-size: 13px; }
  .advertisments__title {
    font-size: 15px; }
  .main-title-text {
    font-size: 15px; }
  .header__search {
    width: 100px;
    height: 25px; }
  .header__logo img {
    width: 30px; }
  .header__search {
    width: 100px; }
  .header__auth {
    flex-direction: column; }
  .footer__logo img {
    width: 30px; }
  .footer__contactus {
    gap: 20px; }
  .search-container input {
    height: 25px;
    width: 120px; }
  .search-container button {
    height: 25px; }
    .search-container button img {
      width: 25px;
      padding: 5px; }
  .hamburger {
    top: 27px; }
  .user__box-header button {
    font-size: 10px; }
  .user__box-header h1 {
    font-size: 26px;
    margin-top: 16px; }
  .user__nickname {
    max-width: 80%; } }

/*# sourceMappingURL=indexmedia.css.map */